.card-details-modal {
  // width: 272px;
  // height: 100%;
  // background-color: #EBECF0;
  // border-radius: 3px;
  // border: none;
  // border-radius: 3px;
  // padding: 7px;
  // margin: 0 4px;
  // display: none;
  display: block;
  position: fixed;
  z-index: 25;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  .group-name {
    font-weight: normal;
    font-size: em(14px);
    font-size: 14px;
    line-height: 20px;
    // margin-bottom: em()
  }
  .card-details-title {
    font-weight: bold;
    font-size: em(20px);
    h2 {
      margin: 4px 8px;
    }
  }
}

.modal-content {
  h3 {
    text-transform: uppercase;
    color: #5e6c84;
    font-weight: bold;
    line-height: 16px;
    font-size: 14px;
    margin-bottom: 8px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  svg {
    color: #42526e;
    // margin-right: 12px;
  }
}

.card-modal-header {
  min-height: 32px;
  margin-bottom: 50px;
}

.member-preview-big {
  height: 2.5rem !important;
  width: 2.5rem !important;
  line-height: 3em;
  .members-list-add-button {
    margin-top: 8px;
  }
}

.members-list-add-button {
  margin-top: 8%;
}

.description-txt {
  flex-grow: 1;
}

.modal-description,
.description-text-box {
  margin: 15px 3px 4px -6px;
  padding: 8px 0;
  pre {
    cursor: pointer;
    background-color: rgba(9, 30, 66, 0.04);
    border: none;
    outline: none;
    // border-radius: 3px;
    min-height: 40px;
    padding: 8px 12px;
    text-decoration: none;
    resize: none;

    // &:active {
    //     cursor: pointer;
    //     font-size: rem(12px);
    //     border: none;
    //     outline: none;
    //     height: 108px;
    // }
    &pre:focus,
    pre:active {
      cursor: pointer;
      font-size: rem(12px);
      border: none;
      outline: none;
      height: 108px;
    }
    .description-active-box button {
      width: fit-content;
    }
  }
}

.modal-activity-title {
  vertical-align: bottom;
}

.sidebar-button-text {
  margin-top: 3px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin-top: 3px;
}

.sidebar-button {
  display: flex;
  svg {
    margin-right: 5px;
  }
}

.label-color {
  width: 100%;
  color: white;
}

.main-modal-section {
  flex: 1;
  padding-right: 20px;
}

.card-details-data {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  h4 {
    margin: 4px 0;
  }
}

.in-list {
  margin: 7px 0px;
  color: #3f3d3de0;
}

.new-checklist-text {
  width: 10em !important;
}

.add-icon {
  margin-right: 10px;
}

.color-choice {
  width: 25px;
  height: 25px;
}

.att-image {
  width: 100px;
  height: 100px;
  background-size: cover;
}

.card-attachment {
  // margin: 10px;
}

.card-details-cover-color,
.card-details-cover-image {
  width: 100%;
  height: 100px;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card-details-cover-modal-close {
  height: 40px;
  width: 40px;
  bottom: 22px;
  right: 3px;
}

.modal-close {
  height: 40px;
  width: 40px;
  bottom: 20px;
  left: 15px;
}

.card-details-modal-container {
  padding: 20px;
  margin: auto;
  overflow-x: hidden;
}

#modal-close {
  padding: 8px;
  margin: 0;
  align-self: center;
}

.card-modal-title {
  margin-bottom: 2px;
}
