.card-sidebar {
  color: #172b4d;
  a {
    color: #172b4d;
  }
  button {
    background-color: rgba(9, 30, 66, 0.04);
    padding: 6px 10px;
    align-items: center;
    user-select: none;
  }
  h3 {
    text-transform: uppercase;
    color: #5e6c84;
    font-weight: bold;
    line-height: 16px;
    font-size: 14px;
  }
}

.sidebar-button-with-cover {
  display: flex;
  background-color: rgba(226, 226, 226, 0.849);
  font-weight: 600;
  margin: 0 5px 5px 0;
}
