.group-list {
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: flex-start;
    margin-bottom: 8px;
    padding-bottom: 8px;
    flex: 1;
}

.add-new-group-text {
    white-space: nowrap;
    width: 272px;
    background-color: rgba(0, 0, 0, 0.205);
    &:hover {
        background-color: rgba(0, 0, 0, 0.205)
    }
}

.new-item-btn {
    button {
        background-color: transparent;
    }
}

.cards {
    height: 100%;
}