.group-menu-container {
  width: 200px;
  border-radius: 0.25em;
  background-color: #fff;
  border: 1px solid rgb(134, 134, 146);
  box-shadow: 0px 12px 20px -12px rgba(0, 0, 0, 0.5);
  transform: translate(100%, 60%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(6px);
  position: absolute;
  cursor: auto;
  // >*{
  // margin-bottom: 8px;
  // padding: rem(6px);
  // }
  & > :first-child {
    padding: rem(8px) 0;
  }
  & > .group-menu-item {
    align-self: flex-start;
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: rem(8px);
    font-weight: 400;
    &:hover {
      background-color: $hovergray;

    }
  }
}
