* {
  box-sizing: border-box;
}

html {
  color: $darktxt;
  // line-height: 1.6;
  margin: 0;
  // -webkit-text-size-adjust: 100%;
}

body,
button,
html,
input,
select,
textarea {
  color: #172b4d;
  // line-height: 20px;
  font-weight: 400;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: rem(14px);
  letter-spacing: 0.3px;
  margin: 0;
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-size: cover;
  white-space: nowrap;
  // background-image: url('../../imgs/output-onlinegiftools.gif');
  // background-size: auto;
  // background-position: bottom right;
  // background-image: url('../../imgs/Quantum-Gradient.svg');
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins-Regular;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

a {
  color: $darktxt;
  outline: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

pre,
textarea {
  font-family: 'Roboto', sans-serif;
}
.app-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// textarea {
//     resize: none;
//     height: 36px;
//     border: none;
//     border-radius: 3px;
//     padding: 2px;
//     line-height: 20px;
//     width: 100%;
//     background-color: transparent;
//     color: inherit;
//     margin-bottom: 2px;
//     white-space: pre-wrap;
//     &:focus {
//         // border: 2px solid $clr4;
//         background-color: #fff;
//     }
// }

span {
  vertical-align: middle;
  margin-right: 5px;
}

span.MuiIconButton-label {
  margin-right: 0px;
}
