.board-container {
  position: relative;
  width: 100%;
  padding: 0 8px;
  background-color: rgba(0, 0, 0, 0);
  overflow-y: hidden;
}

.proj-title {
  font-size: rem(18px);
  font-weight: bolder;
}

.board-nav-right,
.board-nav-left {
  float: right;
  gap: 5px;
  .notification-icon {
    vertical-align: middle;
  }

  // &>.btn,
  // button {
  //     margin: 0 4px 4px 0;
  //     padding: 0 7px 0 7px;
  // }
  & > * {
    margin: 0;
    gap: 5px;
  }
}

.board-app {
  height: 100%;
  flex: 1;
}
