@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@font-face {
    font-family: Poppins-Regular;
    src: url(../../font/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Light;
    src: url(../../font/Poppins-Light.ttf);
}

@font-face {
    font-family: 'Segoe UI', sans-serif;
    src: url(../../font/Segoe-UI/Segoe-UI.ttf);
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v88/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

@font-face {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 42px;
    src: url(../../font/helvetica-neue/HelveticaNeue-Black.woff);
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 42px;
    src: url(../../font/Roboto/Roboto-Regular.ttf);
}