$darktxt: #172b4d;
$lighttxt: rgb(245, 245, 245);
$trnsprnt: rgba(243, 234, 234, 0.733);
$hovergray: rgba(226, 226, 226, 0.8);
$bluebtn: #0079bf;
$memberClr: #dfe1e6;
//Box shadows
$boxShadow1: rgba(207, 217, 228, 0.2) 0px 8px 24px;
// Breakpoints
$mobile-breakpoint: 550px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 860px;